node_modules/
dist/
coverage/
release/
.env
.DS_Store
.tmp/
*.log
logs/*
!logs/.gitkeep
storage/*
!storage/.gitkeep

backend/node_modules/
backend/dist/
backend/coverage/
backend/.env

frontend/node_modules/
frontend/dist/
frontend/dist-pm-tool/
frontend/coverage/
frontend/.env
